*{
    margin: 0;
    padding: 0;
}
body{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aqua;
}
button{
    position: relative;
    width: 84px;
    height: 84px;
    color: blueviolet;
    background-color: crimson;
    box-shadow: 2px 2px rgba(192, 144, 255, 0.7);
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .2s ease;
}
button::before,button::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 80px;
    height: 80px;
    border: 2px solid rgba(0,0,0,.5);
    transform-origin: center;
    box-sizing: border-box;
    z-index: -1;
}
button:hover::before , button:hover::after{
border-color: transparent;
filter: blur(2px);
}
button:hover::before{
    transform: scale(4);
    transition: 1s transform ease, 2s blur ease, .8s border-color ease;

}
button:hover::after{
    transform: scale(3);
    transition: 1s transform ease, 2s blur ease, .8s border-color ease;
    
}